<%- partial ('partials/navbar.ejs') %>

<div class="container">
  <div class="row">
    	<div class="col-lg-12">
    		<h2>Roles Management</h2>
    		<hr>
    		 <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <% for(var i=0; i<allRoles.length; i++) {%>

                <li role="presentation" <% if (i==0) { %> class="active" <% } %>>
                  <a href="#<%= allRoles[i].name %>" aria-controls="home" role="tab" data-toggle="tab"><%= allRoles[i].fullName %></a>
                </li>

              <% } %>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
            <% for(var i=0; i<allRoles.length; i++) {%>

              <div role="tabpanel" class="tab-pane <% if (i==0) { %> active <% } %>" id="<%= allRoles[i].name %>" >
                <ul>
                  <% for(var j=0; j<allMenus.length; j++) {%>
                    <li>
                      <input type="checkbox" name="<%= allRoles[i].name %>" id="<%= allMenus[j].name %>">
                      <label for="<%= allMenus[j].name %>"> <%= allMenus[j].name %> </label>
                    </li>
                  <% } %>
                </ul>
              </div>

            <% } %>
            </div>

          </div>
    	</div>
  </div>
</div>